@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background-color: black;
  color: white;
}

@keyframes slideInText {
  0% {
    transform: translateX(-40px);
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    clip-path: inset(0 0% 0 0);
  }
}

@keyframes nudgeLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-8px);
  }
}

@keyframes introFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}